body {
    background: $primary-bg;
    color: $text-white;
    font-family: 'Raleway', sans-serif;
}

main {
    min-height: calc(100vh - $header-height);
    padding: 0 calc(3.5vw + 5px);
    background-color: $primary-bg-light;
    position: relative;

    &:before {
        background: url('../../../public/assets/images/home-background.png') center center / cover no-repeat fixed;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
}